In [23]:
import pandas as pd

In [24]:
import yfinance as yf

msft = yf.Ticker("MSFT")

In [25]:
msft.info

hist = msft.history(period="1yr")
#msft.history_metadata

msft = yf.Ticker("MSFT")
msft

yfinance.Ticker object <MSFT>

In [26]:
import yfinance as yf
data = yf.download("MSFT", period="6mo")

[*********************100%%**********************]  1 of 1 completed

In [27]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-15,337.480011,349.839996,337.200012,348.100006,346.660980,38899100
2023-06-16,351.320007,351.470001,341.950012,342.329987,340.914795,46533600
2023-06-20,339.309998,342.079987,335.859985,338.049988,336.652496,26375400
2023-06-21,336.369995,337.730011,332.070007,333.559998,332.181061,25117800
2023-06-22,334.119995,340.119995,333.339996,339.709991,338.305603,23556800
...,...,...,...,...,...,...
2023-12-08,369.200012,374.459991,368.230011,374.230011,374.230011,20144800
2023-12-11,368.480011,371.600006,366.100006,371.299988,371.299988,27708800
2023-12-12,370.850006,374.420013,370.459991,374.380005,374.380005,24838300
2023-12-13,376.019989,377.640015,370.769989,374.369995,374.369995,30955500
2023-12-14,376.019989,373.700012,364.130005,365.929993,365.929993,43194857

In [43]:
msft_closing= data[('Close')].reset_index()
msft_closing.head()

        Date       Close
0 2023-06-15  348.100006
1 2023-06-16  342.329987
2 2023-06-20  338.049988
3 2023-06-21  333.559998
4 2023-06-22  339.709991

In [45]:
portfolio = {}
while True:
    stock = input(“Enter a stock symbol (or ‘done’ to finish): “).upper()
    if stock == ‘DONE’:
        break
    quantity = int(input(f”Enter the quantity of {stock}: “))
    portfolio[stock] = quantity

SyntaxError: invalid character '“' (U+201C) (4005161998.py, line 3)

In [46]:
historical_data = {}
for stock_symbol in portfolio.keys():
    stock_data = yf.download(stock_symbol, period=“5y”)
    historical_data[stock_symbol] = stock_data[‘Close’]

SyntaxError: invalid character '“' (U+201C) (2284060018.py, line 3)